<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результат</title>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">TRUNK LINE</h5>
    <nav class="my-2 my-md-0 me-md-3">
        <a class="p-2 text-dark" href="/">Головна</a>
        <a class="p-2 text-dark" href="/blog/add">Розрахувати параметрів ОВ</a>
        <a class="p-2 text-dark" href="/feedback">Контакти</a>
    </nav>
</div>
<section>
    <h6>Дякую за довіру!</h6>
</section>

</body>
</html>